@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* Common styles */
body{
    background-image: url("../assets/bg.png");
}

/*Header styles*/
.header>nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 20px 140px;
}
.nav-links>ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}
.img-name{
    display: flex;
}
.header img{
    width: 60px;
    height: 60px;
}
.header .school{
    font-weight: bold;
    font-size: 2rem;
    margin-top: 10px;
    margin-left: 15px;
}
ul>li{
    list-style: none;
    font-weight: bold;
    font-size: 1.25rem;
    height: 30px;
}
ul>li>a{
    text-decoration: none;
}
.header .home{
    color: #FEA301;
}
.header .about{
    color: #01ACFD;
}
.header .facilities{
    color: #05D4DF;
}
.header .admission{
    color: #5D58EF;
}
.header .contact{
    width: 200px;
    height: 50px;
    background-color: #FEA301;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.25rem;
    margin-left: 170px;
}

/*Banner styles*/
.banner{
    display: flex;
    gap: 110px;
    width: 1160px;
    height: 575px;
    margin: 0px 140px;
}
.banner-tittle{
    font-weight: bold;
    font-size: 3.4rem;
}
.empw{
    color: #FEA301;
}
.TV{
    color: #01ACFD;
}
.banner-details{
    font-weight: normal;
    font-size: 1.25rem;
    color: #111111;
    margin-top: 0px;
}
.banner .enroll-now{
    width: 200px;
    height: 50px;
    border-radius: 12px;
    background-color: #111111;
    color: #FFFFFF;
    font-size: 1.15rem;
    font-weight: bold;
    border: none;
}
.banner .banner-image{
    width: 470px;
    height: 575px;
}

/*standard-curriculum style*/
.standard-curriculum{
    max-width: 1440px;
    text-align: center;
}
.standard-curriculum-title{
    font-weight: bold;
    font-size: 2.8rem;
    margin-top: 50px;
}
.standard-curriculum-cards{
    height: 480px;
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
    justify-content: center;
    align-items: center;
}
.standard-curriculum-card-food{
    width: 370px;
    height: 375px;
    margin-left: 140px;
    border-radius: 19px;
    background-image: linear-gradient(rgba(222, 245, 255, 1),white);
}
.standard-curriculum-card-food img{
    margin-top: 25px;
}
.standard-curriculum-card-books{
    width: 370px;
    height: 375px;
    border-radius: 19px;
    background-image: linear-gradient(rgba(255, 244, 220, 1),white);
}
.standard-curriculum-card-books img{
    margin-top: 25px;
}
.standard-curriculum-card-lab{
    width: 370px;
    height: 375px;
    margin-left: -60px;
    border-radius: 19px;
    background-image: linear-gradient(rgba(242, 232, 255, 1),white);
}
.standard-curriculum-card-lab img{
    margin-top: 25px;
}
.standard-curriculum-card h3{
    font-weight: bold;
    font-size: 1.6rem;
}
.standard-curriculum-card p h4{
    font-weight: normal;
    font-size: 1rem;
}
.standard-curriculum-cards p{
    margin-top: 35px;
}
.standard-curriculum-footer-food{
    margin-top: 55px;
    color: #64C8FF;
}
.standard-curriculum-footer-books{
    margin-top: 55px;
    color: #F0AA00;
}
.standard-curriculum-footer-lab{
    margin-top: 55px;
    color: #8700FF;
}
.circle-one,.circle-two{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FEA301;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circles{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
/* .fa-solid fa-chevron-right{
    font-size: 120px;
    margin: 120px 120px;
} */
/* Our Stories styles */
.our-stories{
    height: 900px;
    background-image: linear-gradient(white,rgba(255, 244, 220, 1));
}
.our-stories{
    margin-top: 70px;
}
.story-title{
    font-weight: bold;
    font-size: 2.8rem;
    text-align: center;
}
.story-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.our-stories-grid{
    width: 600px;
    height: 620px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.story-card-toddler{
    width: 540px;
    height: 610px;
    background-color:  #FFFFFF;
    border-radius: 16px;
    margin-left: 130px;
}
.story-card-toddler img{
    width: 540px;
    height: 337px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.story-card-toddler-title{
    font-weight: bold;
    font-size: 1.5rem;
    
}
.story-card-toddler-des{
    font-weight: normal;
    font-size: 1rem;
    margin-top: -25px;
}
.story-card-toddler-title,.story-card-toddler-des{
    margin-left: 20px;
}
.our-stories-grid>div{
    width: 290px;
    height: 290px;
    background-color: white;
    border-radius: 16px;
}
.our-stories-grid>div>img{
    width: 290px;
    height: 177px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.our-stories-grid>div>h5{
    font-weight: bold;
    font-size: 1rem;
    margin-left: 15px;
}
.view-all{
    width: 200px;
    height: 50px;
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 12px;
    margin-top: 55px;
}
.btn-view-all{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Footer section styles*/
.footer{
    background-color: #01ACFD;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 65px;
}
.footer-text{
    margin-top: 45px;
    margin-left: 75px;
}
.footer-grid{
    display: flex;
}
.footer-grid img{
    width: 80px;
    height: 80px;
}
.footer-grid h3{
    margin-top: 15px;
    font-weight: bold;
    font-size: 2.6rem;
    color: #FFFFFF;
}
.footer-text h4{
    font-weight: normal;
    font-size: 1.25rem;
    color: #FFFFFF;
    margin-left: 15px;
    margin-top: 10px;
}
.footer-text span{
    color: #111111;
    font-weight: bolder;
}
.footer-links{
    margin-top: 45px;
    margin-left: 100px;
}
.footer-links ul>li>a,.footer-links h3{
    color: #FFFFFF;
}
.footer-links h3{
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 40px;
}
.footer-links ul>li>a{
    font-weight: normal;
    font-size: 1.25rem;
}
.footer-SM{
    margin-top: 45px;
    margin-left: 60px;
}
.footer-SM h3{
    margin-bottom: 30px;
}

.display{
    display: none;
}


/* Responsiveness */
/* Small device */
/* navbar does not work */
/* Responsiveness is not working properly */
@media screen and (max-width:576px){
    .header{
        max-width: auto;
    }
    .header .school,.nav-links,.contact{
        display: none;
    }
    .header img{
        margin-left: -130px;
    }
    /* .navbar{
        display: flex;
    } */
    .hamburger-menu{
        margin-right: -700px;

    }
    .side-bar-one{
        border-right: 3px solid #111111;
        width: 13px;
        height:  25px;
        margin: 15px 160px;
        transform: rotate(90deg);
    }
    .side-bar-two{
        border-right: 3px solid #111111;
        width: 13px;
        height: 25px;
        margin: -23px 160px;
        transform: rotate(90deg);
    }
    .side-bar-three{
        border-right: 3px solid #111111;
        width: 13px;
        height: 25px;
        margin: -33px 160px;
        transform: rotate(90deg);
    }
    /* .straight-line .line {
        border-bottom: 5px solid #FEA301;
        margin-top: 5px;
        width: 90px;
    } */


    .banner{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        max-width: 276px;
        margin-top: 70px;
        /* margin-left: 5x; */
    }
    .banner .banner-image{
        width: 320px;
        height: 420px;
    }
    
    .banner .banner-text{
        width: 360px;
        height: 50px;
        text-align: center;
        font-size: 2rem;
        margin-top: -80px;
        /* margin-left: 10px; */
        margin-right: 130px;
    }
    .standard-curriculum{
        margin-top: 820px;
    }
    .standard-curriculum-cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }

    .our-stories{
        margin-top: 690px;
    }
    .story-card-toddler{
        display: none;
    }
    .our-stories-grid{
        /* width: 600px;
        height: 620px; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .our-stories-grid>div{
        width: 90px;
        height: 90px;
        background-color: white;
        border-radius: 20px;
    }
    .our-stories-grid>div>img{
        /* width: 290px;
        height: 177px; */
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
    }
    .our-stories-grid>div>h5{
        font-weight: bold;
        font-size: 1rem;
        /* margin-left: 15px; */
    }

    .footer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1px;
    }
    .footer-links{
        margin-left: 15px;
    }
    .footer-links h3{
        font-weight: bold;
        font-size: 1.5rem;
    }
    .footer-text{
        margin-left: 30px;
    }
}